groups:
- name: prometheus.rules
  rules:
  - alert: InstanceDown
    expr: up == 0
    for: 10m
    labels:
      severity: "critical"
    annotations:
      summary: "Endpoint {{ $labels.hostname }} down"
      description: "{{ $labels.hostname }} of job {{ $labels.job }} has been down for more than 10 minutes."
