---

- hosts: prometheus
  become: true
  roles:
    - aws-nvme-device-files
      mounted-volume
    - epel
    - pip
    - docker-requirements
    - docker
    - prometheus-server
    - prometheus-github-exporter
    - prometheus-node-exporter
    - prometheus-alert-manager
